<mat-card *ngIf="alumnoSeleccionado">
  <h2>Alumno Seleccionado</h2>
  <form novalidate #f="ngForm">
    <mat-form-field class="all-width">
      <input matInput required name="nombre"
      placeholder="Nombre" [ngModel]="alumnoSeleccionado.nombre"
      #nombre="ngModel">
      <mat-error *ngIf="nombre.invalid">
          Debe ingresar el nombre
      </mat-error>
    </mat-form-field>
    <mat-form-field class="all-width">
      <input matInput required name="apellido"
      placeholder="Apellido" [ngModel]="alumnoSeleccionado.apellido"
      #apellido="ngModel">
      <mat-error *ngIf="apellido.invalid">
          Debe ingresar el apellido
      </mat-error>
    </mat-form-field> <br/>
    Sexo:
    <mat-radio-group [ngModel] = "alumnoSeleccionado.sexo" name="sexo">
      <mat-radio-button class="all-width"
      *ngFor="let sexo of ItemListSrv.GetSexos()"
      [value] = "sexo.index"
      color="primary">
        {{sexo.descripcion}}
      </mat-radio-button>
    </mat-radio-group>
    <br/><br/>
    <mat-form-field class="all-width">
      <mat-select placeholder="Perfil" color="primary"
      [ngModel]="alumnoSeleccionado.perfil" name="perfil">
        <mat-option *ngFor="let perfil of ItemListSrv.GetPerfiles()" color="primary"
        [value]="perfil.index">
          {{ perfil.descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox [ngModel]="alumnoSeleccionado.activo" name="activo"
    color="primary" >
      Activo
    </mat-checkbox>
    <mat-card-actions>
      <button mat-button class="btn btn-default"
      (click) = "Regresar()">
        Cancelar
      </button>
      <button mat-button color="primary"
      [disabled]="f.invalid"
      (click) = "Guardar(f.value)" class="btn btn-primary" >
        Aceptar
      </button>
    </mat-card-actions>
  </form>
  <br/><br/>
  {{f.value | json }}<br/>
  {{ alumnoSeleccionado | json }}
</mat-card>
