<div class="search-box">
  <mat-icon>search</mat-icon>
  <mat-form-field>
    <input matInput #filtrar placeholder="filtrar..." (keyup)="Filtrar(filtrar.value)">
  </mat-form-field>
</div>
<!-- <mat-card class="lista">
  <mat-list>
    <mat-list-item
    *ngFor="let alumno of alumnos"
    class="alumno-list-item"
    (click)="AlumnoSelect(alumno)"
    [class.alumno-seleccionado]="EstaSeleccionado(alumno)">
      <div mat-line>
        <h2>
          <mat-icon class="avatar">account_circle</mat-icon>
          {{alumno.nombre}} {{alumno.apellido}}
        </h2>
      </div>
      <p mat-line>
        Perfil: {{ ItemListSrv.Perfiles(alumno.perfil) }}<br><br>
      </p>
    </mat-list-item>
  </mat-list>
</mat-card> -->
<div class="tabla mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="apellido">
      <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.apellido}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="perfil">
      <mat-header-cell *matHeaderCellDef> Perfil </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ ItemListSrv.Perfiles(element.perfil)}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="sexo">
      <mat-header-cell *matHeaderCellDef> Sexo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ItemListSrv.Sexos(element.sexo)}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="activo">
      <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.activo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button [matMenuTriggerFor]="menu" class="accion">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="EditarAlumno(element)">Editar</button>
          <button mat-menu-item (click)="EliminarAlumno(element)">Eliminar</button>
          <button mat-menu-item>Cursos aprobados</button>
          <button mat-menu-item>Asistencia</button>
        </mat-menu>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<button mat-fab class="add-button" (click)="Agregar()">+</button>
