<div class="search-box">
  <mat-icon >search</mat-icon>
  <mat-form-field>
    <input matInput #filtrar placeholder="filtrar..."
    (keyup)="Filtrar(filtrar.value)">
  </mat-form-field>
</div>
<mat-card class="lista">
  <mat-list>
    <mat-list-item
    *ngFor="let alumno of alumnos"
    class="alumno-list-item"
    (click)="AlumnoSelect(alumno)"
    [class.alumno-seleccionado]="EstaSeleccionado(alumno)">
      <div mat-line>
        <h2>
          <mat-icon class="avatar">account_circle</mat-icon>
          {{alumno.nombre}} {{alumno.apellido}}
        </h2>
      </div>
      <p mat-line>
        Perfil: {{ ItemListSrv.Perfiles(alumno.perfil) }}<br><br>
      </p>
    </mat-list-item>
  </mat-list>
</mat-card>
<button mat-fab class="add-button" (click)="Agregar()">+</button>
